:root {
  --background: #000000;
  --text: yellow;
  --paragraph: #169976;
  --stroke: #1dcd9f;
  --button: #1dcd9f;
  --highlights: #169976;
  --secondary: #1dcd9f;
  --tertiary: #169976;
  --yellow: #ff8906;
  --green: #004643;
  --greenlight: #abd1c6;
  --blue: #232946;
  --GBG: #222222;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--text);
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

p {
  color: var(--paragraph);
}

#navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--background);
  box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
  z-index: 10;
  border-bottom: 1px solid var(--tertiary);
  height: 10vh;
  max-height: 20vh;
  min-height: 60px;
}

#toogleStyle_Btn {
  background-color: var(--secondary);
  color: var(--background);
  cursor: pointer;
  transition: transform 0.3s ease-out;
  padding: 1rem;
}

.nav-links {
  display: flex;
  list-style: none;
  font-family: serif;
  margin-right: 2rem;
}

#navbar:hover {
  border-bottom: 1px solid var(--secondary);
  transition: transform 0.3s ease-out;
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
  display: block;
  padding: 1rem 2rem;
  font-size: 2.2rem;
  transition: transform 0.3s ease-out;
}

.nav-links a:hover {
  transform: scale(1.2);
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0ms;
  background: var(--highlights);
  color: var(--background);
  font-weight: 500;
}

section {
  min-height: 100vh;
  padding-top: 15vh;
  color: var(--text);
}

#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(62deg, #252b31 0%, var(--background) 100%);
}

#projects {
  text-align: center;
  background: var(--background);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}
.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}
.code {
  color: var(--background);
  transition: color 0.3s ease-out;
}
.project:hover .code {
  color: var(--highlights);
}
.project-image:hover {
  transform: scale(1.2);
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0ms;
}

input {
  padding: 20px;
  border: 4px solid var(--highlights);
  border-radius: 7px;
  width: 100%;
  font-size: 2rem;
  margin: 1rem;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 40px 20px;
  text-align: center;
}

h2 {
  font-size: 4rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}
.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}
.contact-details:hover {
  transform: translateY(8px);
  color: var(--highlights);
}

span {
  transition: transform 0.3s ease-out;
}

h1:hover span {
  color: var(--secondary);
  transform: translateY(-8px);
}

h1 {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}
h1::before {
  background-color: var(--tertiary);
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
h1::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: var(--tertiary);
}

h1:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
h1:hover::after {
  transform: translate3d(0, 0, 0);
}

h1 span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
#submit {
  background-color: var(--secondary);
  color: var(--text);
  cursor: pointer;
  transition: transform 0.3s ease-out;
  width: 50%;
}
#submit:hover {
  background-color: var(--highlights);
  color: var(--background);
  transform: scale(1.2);
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transition-delay: 50ms;
}

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background: var(--background);
  border-top: 4px solid var(--tertiary);
  margin: 1rem;
  font-size: 2.2rem;
}

footer > p {
  margin: 1rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}

h3:hover span {
  color: #ff7f50;
}

h2 {
  font-size: 4rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}
@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 34.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}

#skills {
  text-align: center;
  background: var(--background);
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
  gap: 1em;
}

.skill {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
  background-color: var(--GBG);
  height: 80vh;
  display: grid;
  border: 1px solid var(--tertiary);
}

h4 {
  font-size: 4.2rem;
  text-align: center;
  background-color: var(--GBG);
  border-radius: 0.29em;
  color: #fffffe;
  border-bottom: #ff7f50;
}

.skill > p {
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: var(--GBG);
  color: var(--text);
  font-size: 3rem;
  font-weight: 500;
}

.skill:hover {
  background-color: var(--button);
  color: var(--background);
}

.skill:hover h4 {
  background-color: var(--button);
  color: var(--background);
}
.skill:hover > p {
  color: var(--background);
  background-color: var(--button);
}

@media (max-width: 600px) {
  /* Stack grid items in a single column */
  .projects-grid,
  .skills-grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  /* Stack grid items in a single column */
  .projects-grid,
  .skills-grid {
    grid-template-columns: 1fr;
  }
}

.menu-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 600px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    display: none;
    width: 60vw;
    margin-top: 10px;
    background-color: #abd1c6;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    text-align: center;
    padding: 10px 0;

    background: var(--background);
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);

    border: 1px solid var(--tertiary);
    border: 1px solid var(--tertiary);
  }
  .nav-links a:hover {
    transform: scale(0.9);
  }
}
